[submodule "TrinityCore"]
	path = cores/TrinityCore
	url = https://github.com/RealPeps/TrinityCore
	branch = pepserver
[submodule "misc/adt-creator"]
	path = misc/adt-creator
	url = https://github.com/tswow/adt-creator.git
